#Wed Jun 18 09:33:06 WEST 2014
genome=/home/uichuimi03/DNA_Sequencing/genome/human_g1k_v37.fasta
phase1=/media/DiscoInterno/databases/1000G_phase1.indels.b37.vcf
omni=/media/DiscoInterno/databases/1000G_omni2.5.b37.sites.vcf
mills=/media/DiscoInterno/databases/Mills_and_1000G_gold_standard.indels.b37.sites.vcf
dbsnp=/media/DiscoInterno/databases/dbsnp_135.b37.vcf
ensembl_exons=/home/uichuimi03/Desktop/exonshomosapiens.tsv
