#Thu Sep 11 10:04:10 WEST 2014
CODE=niv_19
PATH=/home/uichuimi03/DNA_Sequencing/exomesuite/niv_19
REVERSE_FASTQ=/media/DiscoInterno/Proyecto NIV/01 sequences/niv_19_32/niv_19_pe_2.fq.gz
FASTQ_ENCODING=phred+64
REFERENCE_GENOME=grch37
NAME=NIV 19
FORWARD_FASTQ=/media/DiscoInterno/Proyecto NIV/01 sequences/niv_19_32/niv_19_pe_1.fq.gz
