#Thu Sep 18 10:19:00 WEST 2014
CODE=niv_19
DESCRIPTION=Paciente de neurobiolog\u00EDa
REVERSE_FASTQ=/media/DiscoInterno/Proyecto NIV/01 sequences/niv_19_32/niv_19_pe_2.fq.gz
REFERENCE_GENOME=grch37
FASTQ_ENCODING=phred+64
FORWARD_FASTQ=/media/DiscoInterno/Proyecto NIV/01 sequences/niv_19_32/niv_19_pe_1.fq.gz
BAM_FILE=/home/uichuimi03/DNA_Sequencing/exomesuite/niv_19/niv_19.bam
PATH=/home/uichuimi03/DNA_Sequencing/exomesuite/niv_19
NAME=Neuro_19
