#Fri Sep 12 08:45:10 WEST 2014
CODE=niv_19
DESCRIPTION=Paciente de neurobiolog\u00EDa
PATH=/home/uichuimi03/DNA_Sequencing/exomesuite/niv_19
REVERSE_FASTQ=/media/DiscoInterno/Proyecto NIV/01 sequences/niv_19_32/niv_19_pe_2.fq.gz
FASTQ_ENCODING=phred+64
REFERENCE_GENOME=grch37
NAME=Neuro_19
FORWARD_FASTQ=/media/DiscoInterno/Proyecto NIV/01 sequences/niv_19_32/niv_19_pe_1.fq.gz
