#Thu Sep 11 09:38:26 WEST 2014
CODE=pepe
PATH=/home/uichuimi03/DNA_Sequencing/exomesuite/pepe
REVERSE_FASTQ=/media/DiscoInterno/Proyecto NIV/01 sequences/niv_60_62/niv_60_pe_2.fq.gz
REFERENCE_GENOME=grch37
FASTQ_ENCODING=phred+64
NAME=pepe
FORWARD_FASTQ=/media/DiscoInterno/Proyecto NIV/01 sequences/niv_60_62/niv_60_pe_1.fq.gz
