.background{
    -fx-background-color: #1d1d1d;
}

.tab-pane, .vbox, .hbox, .button {
    -fx-background-color: transparent;
}

 .flow-pane {
    -fx-background-color: white;
}

#newToggle {
    -fx-background-color: transparent;
}

.tool {
    -fx-border-color: lightgray;
    -fx-border-width: 2;
    -fx-padding: 2;
}

.button:hover {
    -fx-opacity: 50%;
}

.button:pressed{
    -fx-opacity: 25%;
}
.green {
    -fx-border-color: green;
    -fx-background-color: #99ff99;
}

.red {
    -fx-border-color: red;
    -fx-background-color: lightsalmon;
}
