/* Black style, it sucks. */

/** {
     -fx-background-color: transparent;
     -fx-text-fill: white;
}

.red {
    -fx-border-color: red;
    -fx-border-insets: 2;
}

.green {
    -fx-border-color: green;
    -fx-border-insets: 2;
}

.disabled {
}

.progress {

}

.open {
    -fx-border-color: yellow;
    -fx-border-insets: 2;
}

.label {
    -fx-text-fill: white;
}

.root, .button{
    -fx-background-color: black;
}*/

.tab-pane, .vbox, .hbox, .button{
    -fx-background-color: transparent;
}

#newToggle {
    -fx-background-color: transparent;
}

.tool {
    -fx-border-color: lightgray;
    -fx-border-width: 2;
    -fx-padding: 2;
}

.button:hover {
    -fx-opacity: 50%;
}

.button:pressed{
    -fx-opacity: 25%;
}
.green {
    -fx-border-color: green;
    -fx-background-color: #99ff99;
}

.red {
    -fx-border-color: red;
    -fx-background-color: lightsalmon;
}
